#AboutInfo {
  height: 90vh;
  width: 50vw;
  background-image: url("/Others/code.jpg");
  background-repeat: no-repeat;
  position: absolute;
  background-position-x: 250px;
  background-position-y: 350px;
  background-size: 700px;
}

.Selfie {
  height: 600px;
  position: absolute;
  right: 306px;
  bottom: 20px;
  border-color: transparent;
}

.heading {
  position: absolute;
  bottom: 500px;
  left: -110px;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  text-align: center;
  height: 1px;
  color: white;
}

.intro {
  width: 650px;
  position: absolute;
  bottom: 370px;
  height: 0px;
  left: -300px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
}

.hiddenImage {
  opacity: 0;
  transform: translateY(0);
}

.seperateFadeIn {
  transform: translateY(20px);
  opacity: 0;
  animation: seperateFadeInKey 2s forwards;
}

@keyframes seperateFadeInKey {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(20px);
    opacity: 1;
  }
}