#Contact-Style {
  height: 90vh;
  width: 200vw;
  background-image: url("/Others/code.jpg");
  background-repeat: no-repeat;
  background-position-x: 890px;
  background-position-y: 350px;
  background-size: 700px;
}

.fb {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
  background-image: url("/SocialMedia/Facebook.jpg");
  right: 250px;
  top: 100px;
}

.li {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
  background-image: url("/SocialMedia/LinkedIn.jpg");
  left: 250px;
  top: 100px;
}

.ig {
  position: absolute;
  width: 120px;
  height: 120px;
  color: transparent;
  text-decoration: solid;
  text-align: justify;
  border-radius: 400px;
  border-color: black;
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: center;
  background-color: transparent;
  background-image: url("/SocialMedia/Instagram.jpg");
  right: 620px;
  top: 100px;
}

.gm {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: center;
  background-color: white;
  background-image: url("/SocialMedia/Gmail.jpg");
  right: 610px;
  top: 350px;
}

.wa {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
  background-color: white;
  background-image: url("/SocialMedia/WhatsApp.jpg");
  left: 250px;
  top: 350px;
}