.fade-In {
    animation: fadeIn 1s backwards;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.fade-Out {
    opacity: 1;
    animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}