#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  height: 90vh;
}

.entryButton {
    position: relative;
    color: black;
    background-color: black;
    border-radius: 20px;
    border-color: transparent;
    height: 300px;
    width: 170px;
    top: 180px;
}

.BIM {
    position: relative;
    color: black;
    background-color: black;
    height: 200px;
    width: 190px;
    border-color: black;
    border-radius: 200px;
    right: 20px;
    bottom: 30px;
}